* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  body {
    font-family: Lexend Deca, Big Shoulders Display, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

main {
  width: 600px;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px;
}

.sedans, 
.suvs, 
.luxury {
  font-family: Big Shoulders Display;
  font-weight: 700;
  padding: 30px;
  color: white;
  img {
    margin-bottom: 10px;
  }
  h2 {
    margin: 10px 0px;
  }
  h6 {
    line-height: 18px;
    margin: 15px 0px 20px;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 10px;
    opacity: 0.7;
  }

  button {
    background-color: white;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-family: Lexend Deca;
    font-size: 10px;
    font-weight: 400px;
    cursor: pointer;
  }
  button:hover {
    background-color: inherit;
    color: white;
    border: 1px solid white;
    transition: ease-in 0.2s;
  }
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 5px 0px 0px 5px;

  button {
    color: hsl(31, 77%, 52%);
  }
}

.suvs {
  background-color: hsl(184, 100%, 22%);

  button {
    color: hsl(184, 100%, 22%);
  }
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 5px 5px 0px;

  button {
    color: hsl(179, 100%, 13%);
  }
}

.attribution { 
  font-size: 11px;
  text-align: center; 
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
} 

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 100px;
  }

  .sedans, 
  .suvs, 
  .luxury { 
    padding: 50px;

    h2 {
      font-size: 30px;
    }

    h6 {
      font-size: 13px;
      line-height: 20px;
      margin: 0px;
    }

    button {
      font-size: 13px;
    }
  }

  .sedans {
    border-radius: 5px 5px 0px 0px;
  }
  .luxury {
    border-radius: 0px 0px 5px 5px;
  }
}